

.gradient-background {
    background: linear-gradient(300deg, #ffffff, #000000, #636161);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
#first{
  height: 119vh;
}
html {
    scroll-behavior: smooth;
  }

.img-profile{
    height: 200px;
    border-radius: 50%;
  }